@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/* Footer Styles */
footer {
    background-color: lightgray; /* Changed background color from second file */
    padding: 10px;
    line-height: 1em; /* Changed line-height from second file */
    font-size: 0.8em; /* Changed font-size from second file */
    text-align: center; /* Center align content */
    clear: both; /* Ensure it clears any floated elements */
}

body 
{
	min-height: 100vh;
	background-color: #007bff; /* Main blue background */
}

main {
    background-color: white;
}


.container {
    max-width: 800px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

.container > * {
    margin-bottom: 20px; /* Add spacing between child elements */
}

header 
{
	position: absolute;
	width: 100%;
	min-height: 66px;
	background: black;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo 
{
	color: #fff;
	font-size: 1.75em;
	font-weight: 600;
	text-decoration: none;
}
header ul 
{
	position: relative;
}
header ul li 
{
	position: relative;
	list-style: none;
	float: left;
}
header ul li a 
{
	color: #fff;
	font-size: 1.1em;
	padding: 20px 25px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}
header ul li a:hover 
{
	background: #e32b34;
}

header ul li ul
{
	position: absolute;
	left: 0;
	width: 200px;
	background: #445964;
	display: none;
}
header ul li:hover > ul
{
	display: block;
}
header ul li ul li 
{
	position: relative;
	width: 100%;
	border: 1px solid rgba(0,0,0,0.2);
}
header ul li ul li ul 
{
	top: 0;
	left: 200px;
}

input#submit {
    cursor: pointer;
    padding: 5px 25px;
    background: #2e64fe;
    border: 1px solid #ffffff;
    color: #f3f3f3;
    font-size: 1.1em;
}

input#submit:hover,
input#submit:focus {
    background-color: #0431b4;
}
input[type="submit"] {
    padding: 10px 20px; /* Adjust padding as needed */
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #4CAF50; /* Green background for submit button */
    color: white;
    cursor: pointer;
    border: none;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px; /* Space between form fields */
    border: 1px solid #ddd;
    border-radius: 5px; /* Optional: adds rounded corners */
}


/* Optionally, adjust hover styles */
input[type="submit"]:hover {
    opacity: 0.8;
    cursor: pointer;
}


input[type="submit"]:hover {
    opacity: 0.8;
}

/* Error Message Styles */
.error {
    color: red;
    margin-bottom: 20px;
}
.qsl-img {
    
    width: 70%; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
    border: 5px solid #eaeaea; /* Optional: border styling */
}


.qsl-page-note {
    color: black;
}

.table-hover > thead > tr > th {
    background-color: #2E64FE;
    color: #f3f3f3;
    font-size: 1.1em;
}

.table-hover > tbody > tr:hover {
    background-color: #E6E6E6;
}

.center {
    margin: 0 auto; /* Set left and right margins to auto */
}

div.c1 {
    text-align: center;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #F7FE2E;
}

/* Target the table with a specific class */
.custom-table {
    /* Change text color within the table */
    color: blue;
    width: 50%; /* Adjust the width as needed */
    margin: auto; /* Center the table horizontally */
}

/* Change hyperlink color within the table */
.custom-table a {
    color: red;
}

  
  /* Style every other row within the container */
  .container .custom-table tr:nth-child(even) {
    background-color: lightgray;
  }
  
  /* Optional: Style for table borders */
  .custom-table {
    border-collapse: collapse;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid black;
    padding: 8px;
  }

/* Center the table */
.table-container {
    text-align: center;
    margin: 0 auto; /* Center horizontally */
}

.centered-content {
    margin: 0 auto; /* Center the content horizontally */
    text-align: center; /* Center align text within the container */
}

.total-count {
    margin-top: 20px; /* Add some top margin to separate from the table */
}

.centered-radio-buttons {
    text-align: center;
}
  

.centered-table {
    width: 100%;
    margin: 0 auto; /* Center horizontally */
}

/* New CSS class to center the table container */
/* CSS to center the table container */
.table-container {
    text-align: center;
    margin: 0 auto;
}

/* Center the tbody within the table */
.custom-table tbody {
    text-align: center;
}

.col-md-5 {
    position: relative;
    z-index: 1; /* Set a higher z-index to bring it above the background */
}

/* Additional Styles */
.form-container {
    background-color: white; /* White background for the form container */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: adds rounded corners */
    width: 300px; /* Adjust width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 100px; /* Adjust margin-top to center vertically */
}

.form-container h2 {
    text-align: center; /* Center align the heading */
    margin-bottom: 20px; /* Add some bottom margin */
}

.form-container label {
    display: block; /* Display labels as block elements */
    margin-bottom: 10px; /* Add some bottom margin */
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%; /* Full width for input fields */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 20px; /* Space between form fields */
    border: 1px solid #ddd;
    border-radius: 5px; /* Optional: adds rounded corners */
}

.form-container input[type="submit"] {
    width: 100%; /* Full width for submit button */
    padding: 10px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Optional: adds rounded corners */
    background-color: #4CAF50; /* Green background for submit button */
    color: white;
    cursor: pointer;
}

.center-container {
    margin: 0 auto; /* Center the container horizontally */
    max-width: 800px; /* Adjust the maximum width as needed */
}

.form-container input[type="submit"]:hover {
    opacity: 0.8;
}

main {
    margin: 0 auto; /* Center the main content horizontally */
}

ul {
    padding-left: 0rem
}

h1 {
    text-align: center; /* Center the text horizontally within the <h1> element */
}
header nav ul li ul {
    position: absolute;
    z-index: 1000; /* Set a higher z-index for the dropdown menu */
    /* Your other styling properties */
}


/* now, make it responsive */
@media (max-width: 1100px)
{
	header
	{
		padding: 10px 20px;
	}
	header nav 
	{
		position: absolute;
		width: 100%;
		top: 66px;
		left: 0;
		background: #445964;
		display: none;
	}
	header.active nav 
	{
		display: initial;
	}
	header nav ul li 
	{
		width: 100%;
	}
	header nav ul li ul
	{
		position: relative;
		width: 100%;
		left: 0;
	}
	header ul li ul li ul
	{
		top: 0;
    left: 0;
	}
	header nav ul li:hover ul li 
	{
		background: #546e7b;
	}
	.menuToggle 
	{
		position: relative;
		width: 40px;
		height: 50px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.menuToggle::before 
	{
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		background: #fff;
		transform: translateY(-12px);
		box-shadow: 0 12px #fff;
	}
	.menuToggle::after 
	{
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		background: #fff;
		transform: translateY(12px);
	}
	header.active .menuToggle::before 
	{
		transform: rotate(45deg);
		box-shadow: 0 0 #fff;
	}
	header.active .menuToggle::after 
	{
		transform: rotate(315deg);
	}
}