
.auto-style1 
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}
.auto-style2 {color: #FFFFFF;}
.auto-style3 {font-size: xx-small;}
.auto-style4 {font-size: larger;}
.auto-style5 {font-size: medium;}
.sucess 	 {color:#088A08;}
.error		 {color:red;}
.background1 
{
	background-color: #0000FF;
	color: #FFFFFF;
}

a:link {color:#FFFFFF;}    /* unvisited link */
a:visited {color:#00FF00;} /* visited link */
a:hover {color:#F7FE2E;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */
img.c4 {border:0;width:88px;height:31px}
div.c3 {background-color: #333333; border: solid 1px #333333; text-align: left; width: 300px}
div.c2 {margin:40px}
div.c1 {text-align: center}

.center
{
	margin:auto;
	width:20%;
}
.box
{
	width: 150px; 
	height: 15px
}

body{
	font: 20px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color: #404040;
}

input[type=call],
input[type=password],
input[type=email]{
	padding:10px;
	width:100%;
}

input[type=lookup]{
	padding:5px;
	width:100px;
}

#userNotes{
	font-size:0.7em;
	text-align:left;
	padding:10px;
}

#actions{
	padding:10px;
}

#infoMesssage{
	padding:10px;
	background-color:#BDE5F8;
	color:black;
	font-size:0.8em;
}


#successMessage{
	padding:10px;
	background-color:green;
	color:white;
}

#failedMessage{
	padding:10px;
	background-color:red;
	color:white;
	font-size:15px;
}

#formBody{
	padding:5px;
}

#loginForm{
	
	text-align:center;
	border:thin solid #000;
	width:300px;
	margin:7em auto 0 auto;
}

#formHeader{
	border-bottom:thin solid gray;
	padding:10px;
	background:#0000FF;
}

#loginForm{
	
}

.customButton {
	padding:5px;
	width:100%;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffff00;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	cursor:pointer;
}

.customButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}

.customButton:active {
	position:relative;
	top:1px;
}


	
